<div class="report-preview" yao-scrollbar>
    <pre>{{$report | json:3}}</pre>
    <div class="report-wrapper">
        <div class="report-header">
            <h1>{{$report.title}}</h1>
            <h3>{{$report.subtitle}}</h3>
            <span class="export-btn">
                <button class="btn btn-info">导出</button>
            </span>
        </div>
        <form class="report-filter-form form-horizontal" ng-if="$report.filterFields.length > 0">
            <div class="col-md-6" ng-repeat="field in $report.filterFields">
                <div class="form-group">
                    <label for="field-input-{{field.seqId}}" class="col-sm-4 control-label">
                        {{field.dataSrcItemLabel}}:
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="field-input-{{field.seqId}}" ng-if="field.dataSrcItemType === 'text'">
                        <select class="form-control" id="field-input-{{field.seqId}}" ng-if="field.dataSrcItemType === 'select'">
                            <option>选项1</option>
                            <option>选项2</option>
                            <option>选项3</option>
                            <option>选项4</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="report-body">
            <div class="report-bloc-wrapper" ng-repeat="bloc in $report.blocs">
                <div class="report-bloc">
                    <div class="report-row col-md-{{row.size || 12}}" ng-class="{'no-padding': row.size === 12}" ng-repeat="row in bloc.layout.rows">
                        <div class="row-content">
                            <div class="report-col col-xs-{{col.size || 12}}" ng-repeat="col in row.cols">
                                <div class="col-content">
                                    <div ebp-report-widget="$report.getWidget(col.content.id)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="report-preview-actions">
    <button ng-click="$preview.close()" class="btn btn-sup btn-danger">
        <i class="fa fa-close"></i>
        关闭
    </button>
    <button ng-click="$preview.print()" class="btn btn-sup btn-primary">
        <i class="fa fa-print"></i>
        打印
    </button>
    <button ng-click="$preview.exportHTML()" class="btn btn-sup btn-success">
        <i class="fa fa-external-link"></i>
        导出HTML文本
    </button>
</div>